.footer__text{
  width: 25%;
}

.footer__text p{
  font-size: 14px;
  font-weight: lighter;
}

.footer__link{
  font-weight: bold;
  text-decoration: underline;
}

.footer__name{
  font-weight: bold;
}