.form__block{
  background: #f4f4f4;
  color: #262424;
  padding: 40px 70px 50px;
}

.form__content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form__input{
  width: 270px;
}

.input{
  width: 100%;
  min-height: 45px;
  padding-left: 5px;
  outline: none;
  font-size: 14px;
}

.form__text{
  font-size: 14px;
  margin-bottom: 10px;
}

.form__textarea{
  margin-bottom: 10px;
}

.textarea{
  width: 100%;
  height: 85px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding-left: 5px;
}

.textarea:focus{
  border: 1px solid #e1942a;
}

.form__selection{
  display: flex;
  justify-content: space-between;
  font-size: 14px
}

